<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/projeto/assets/css/portifolio.css">
    
    <title>My page codes</title>
</head>
<body>
    <header>
    </header>
    <div>
        <h1>Portifólio</h1>
        <img src="" id="foto">
        <p id="nome">sim</p>
    </div>

    <div>
        <p id="bio"></p>
        <a id="linkGitHub" href="" target="_blank" >GitHub</a>
    </div>

    <div id="repo">
        <h2>Repositórios</h2>      
    </div>

    <script type="text/javascript" src="/projeto/assets/js/api_github.js"></script>
</body>
</html>