nav {
    background-color: rgb(107, 208, 255);
    border: 2px outset  rgb(24, 88, 117);
    font-size: 25px;
    text-align: center;
    padding: 5px;
    /*width: 60%;*/
}

nav a {
    text-decoration: none;
    color:rgb(24, 88, 117);
}

body {
    background-color:rgb(24, 88, 117);
}

h1, p {
    color:rgb(107, 208, 255);
    text-align: center;
}

div {
    text-align: center;

}
video {
    width: 60%;
}