body {
    background-color: rgb(68, 90, 79);
}
h1 {
    color: rgb(82, 255, 126);
}
b {
    color: aliceblue;
}
strong {
    color: aliceblue;
}
mark {
    background-color: rgb(103, 255, 230);
}
a {
    color: aqua;
}
cor{
    color:aquamarine
}
h1{
 text-align: center;
 align-items: center;
}
.Cor{
    color: rgb(255, 166, 0);
}
.tabela, th{
    border: 2px solid rgb(8, 109, 30);
    border-radius: 10px;
    background-color:rgb(223, 255, 251);
    width: 500px



}
td,th{
    text-align: center;
    color: aliceblue;
}



.Form{
    text-align: center;
}

label{
    color:rgb(235, 245, 241);
}
input{
    border:rgb(0, 0, 0);
    background-color:rgb(235, 245, 241);
}
h2,h3{
    color:rgb(192, 228, 212);
}
textarea{
    background-color:rgb(235, 245, 241);
}


.Teste{
    border: 5px outset red;
    background-color: lightcoral;
    text-align: center;
    color: blue;
};